/**CODIGO PARA INICIAR SAAS: npm run watch-css**/
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box; }

/*INICIO HEADER*/
.header {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  background-color: mediumblue;
  padding: 1rem; }

.header__logo {
  width: 12rem;
  padding: 1rem;
  justify-content: left;
  align-items: center; }

.header__barra_navegador {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-family: calibri; }

.textos__navegador {
  width: 45rem;
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: calibri; }

.header__textobarranavegador {
  color: aliceblue;
  font-size: x-large;
  padding: 1rem;
  text-decoration: none; }

.header__textobarranavegadoractivo {
  color: #ff5601;
  font-size: x-large;
  padding: 1rem; }

/*FINAL HEADER*/
/*INICIO MAIN*/
.body {
  width: 100%;
  background-color: #3F3A3A; }

.bodyindex_background {
  background-color: mediumblue;
  display: grid;
  place-items: center; }

.bodyIndex__headerhero {
  color: aliceblue;
  font-size: 2rem;
  font-family: calibri; }

.bodyindex__parrafo {
  color: aliceblue;
  font-size: 2rem;
  text-align: center;
  font-family: calibri; }

.bodyIndex__headerreel {
  background-color: #3F3A3A;
  color: aliceblue;
  font-size: 2rem;
  text-align: center;
  font-family: calibri; }

.bodyindex__boton {
  background-color: #ff5601;
  color: white;
  font-family: Calibri, sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  margin-bottom: 5px; }

/*FINAL MAIN*/
/*INICIO FOOTER*/
.footerindex__contenedor {
  width: 100%;
  height: fit-content;
  background-color: #3F3A3A; }

.footerindex {
  width: auto;
  height: fit-content; }

.footerindex__contenedorimagenes {
  display: flex;
  justify-content: space-around; }

.footerindex__parrafobajo {
  color: aliceblue;
  font-size: 2rem;
  text-align: center;
  font-family: calibri; }

.footerindex__torrevieja {
  max-width: 15%;
  max-height: 15%;
  aspect-ratio: 3/2;
  object-fit: contain; }

.footerIndex__lapetina {
  max-width: 15%;
  max-height: 15%;
  aspect-ratio: 3/2;
  object-fit: contain; }

.footerIndex__alpe {
  max-width: 15%;
  max-height: 15%;
  aspect-ratio: 3/2;
  object-fit: contain; }

.footerIndex__searaan {
  max-width: 15%;
  max-height: 15%;
  aspect-ratio: 3/2;
  object-fit: contain; }

.botones {
  background-image: radial-gradient(circle 767px at 10.2% 22.1%, #0b27da 0%, deepskyblue 90%);
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.botones {
  min-width: 700px;
  display: flex;
  justify-content: space-around; }

.botones a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all .4s ease-in-out; }

.botones a:hover {
  transform: scale(1.2); }

/*FINAL FOOTER*/
/*VISTA SOLUCIONES INICIO*/
.soluciones {
  background: mediumblue;
  width: 100%;
  padding: 100px 0px; }

.titulo_soluciones h2 {
  color: white;
  font-size: 3rem;
  width: 1130px;
  margin: 30px auto;
  text-align: center; }

/*VISTA SOLUCIONES FIN*/
/*VISTA NOSOTROS INICIO*/
.nosotros {
  width: 100%;
  padding: 78px 0px;
  background-color: mediumblue; }

.nosotros img {
  height: auto;
  width: auto; }

.nosotros_logo {
  height: auto;
  width: 420px; }

.texto_nosotros {
  width: 550px; }

.nosotros_main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.nosotros h1 {
  color: white;
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 20px; }

.nosotros h5 {
  color: white;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px; }

.nosotros p {
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 1rem;
  margin-bottom: 45px; }

/*VISTA NOSOTROS FIN*/
/*ESTILOS FORMULARIO INICIO*/
.form-fondo {
  background-image: url(/img/fondo_cel.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 200px; }

.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000; }

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center; }

.form-register h5 {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center; }

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid hwb(221 12% 23%);
  font-family: 'calibri';
  font-size: 18px;
  color: white; }

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px; }

.form-register a {
  color: white;
  text-decoration: none; }

.form-register a:hover {
  color: white;
  text-decoration: underline; }

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px; }

/*ESTILOS FORMULARIO FIN*/
/*VISTA CONTENIDO INICIO*/
.contenidos {
  background: mediumblue;
  width: 100%;
  padding: 100px 0px; }

.titulo_contenidos h2 {
  color: white;
  font-size: 3rem;
  width: 1130px;
  margin: 30px auto;
  text-align: center; }

.contenedor_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px; }

.card {
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #24303c;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center; }

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #ff5601; }

.card h5 {
  color: white;
  font-size: 2rem;
  margin-bottom: 15px; }

.pra p {
  color: white;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px; }

.card .button_cards {
  background-color: #ff5601;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: 4s; }

.card .button_cards:hover {
  background-color: transparent;
  border: 2px solid #ff5601;
  cursor: pointer; }

/*VISTA CONTENIDO FIN*/
/*FRAMES*/
@keyframes animacion {
  0% {
    box-shadow: 0 0 0 0 rgba(29, 171, 209, 0.6), 0 0 0 0 rgba(29, 171, 209, 0.6); }
  30% {
    box-shadow: 0 0 0 100px rgba(29, 171, 209, 0), 0 0 0 0 rgba(29, 171, 209, 0.6); }
  65% {
    box-shadow: 0 0 0 100px rgba(29, 171, 209, 0), 0 0 0 30px rgba(29, 171, 209, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(29, 171, 209, 0), 0 0 0 30px rgba(29, 171, 209, 0); } }

/*MEDIA QUERY INICIO*/
@media screen and (max-width: 1024px) {
  .body {
    width: 1024px; }
  .bodyIndex__headerhero {
    text-align: center; }
  .bodyindex__parrafo {
    color: aliceblue;
    font-size: 2rem;
    text-align: center; }
  .bodyindex__boton {
    top: 120%; }
  .bodyIndex__headerreel {
    background-color: #3F3A3A;
    color: aliceblue;
    font-size: 2rem;
    text-align: center; }
  .botones {
    min-width: 1024px;
    background-image: radial-gradient(circle 1024px at 10.2% 22.1%, #0b27da 0%, deepskyblue 90%); }
  /*FORMULARIO MODS INICIO*/
  .form-fondo {
    padding-top: 20px;
    padding-bottom: 30px; }
  .form-register {
    margin-top: 20px; }
  /*FORMULARIO MODS FIN*/ }

@media screen and (max-width: 768px) {
  .header__barra_navegador {
    width: 100%;
    height: auto; }
  .textos__navegador {
    width: fit-content; }
  .bodyindex_background {
    width: 768px;
    display: flex;
    flex-direction: column; }
  .bodyIndex__headerhero {
    text-align: center; }
  .bodyindex__parrafo {
    text-align: center; }
  .bodyIndex__imagehero {
    width: 550px; }
  .bodyIndex__headerreel {
    font-size: 2rem;
    text-align: center; }
  .footerindex__parrafobajo {
    font-size: 2rem; }
  .botones {
    overflow: hidden;
    min-width: 768px;
    background-image: radial-gradient(circle 768px at 10.2% 22.1%, #0b27da 0%, deepskyblue 90%); }
  /*FORMULARIO MODS INICIO*/
  .form-fondo {
    padding-top: 20px;
    padding-bottom: 30px; }
  .form-register {
    margin-top: 20px; }
  /*FORMULARIO MODS FIN*/ }

/*VISTA NOSOTROS INICIO*/
.nosotros img {
  height: auto;
  padding-left: 0%;
  padding-right: 2%; }

.texto_nosotros {
  align-items: center;
  text-align: center; }

/*VISTA NOSOTROS FIN*/
/*VISTA CONTENIDO INICIO*/
.contenidos {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 70px 0px; }

.titulo_contenidos h2 {
  width: fit-content;
  font-size: 3rem; }

.contenedor_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px; }

/*VISTA CONTENIDO FIN*/
/*VISTA SOLUCIONES INICIO*/
.soluciones {
  display: flex;
  flex-direction: column;
  width: 768px;
  padding: 70px 0px; }

.titulo_soluciones h2 {
  width: fit-content;
  font-size: 2rem;
  margin-left: 10px;
  margin-right: 10px; }

/*VISTA SOLUCIONES FIN*/
@media screen and (max-width: 425px) {
  /*INDEX MODS INICIO*/
  .body {
    width: 425px;
    overflow: hidden; }
  .bodyindex {
    width: 425px;
    overflow: hidden; }
  .header__barra_navegador {
    width: 425px;
    display: flex;
    flex-direction: column;
    flex-flow: row;
    overflow: hidden; }
  .textos__navegador {
    width: 425px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    overflow: hidden; }
  .header__textobarranavegador {
    font-size: 1.5rem;
    width: 425px; }
  .bodyindex_background {
    width: 425px;
    display: flex;
    flex-direction: column;
    overflow: hidden; }
  .bodyIndex__headerhero {
    font-size: 1.5rem;
    width: 425px;
    text-align: center;
    overflow: hidden; }
  .bodyindex__parrafo {
    font-size: 1rem;
    width: 425px;
    text-align: center;
    overflow: hidden; }
  .bodyIndex__imagehero {
    width: 330px;
    overflow: hidden; }
  .bodyIndex__headerreel {
    font-size: 1rem;
    text-align: center; }
  .footerindex__parrafobajo {
    font-size: 1.5rem;
    width: 425px; }
  .botones {
    overflow: hidden;
    min-width: 420px;
    background-image: radial-gradient(circle 425px at 10.2% 22.1%, #0b27da 0%, deepskyblue 90%); }
  /*INDEX MODS FIN*/
  /*FORMULARIO MODS INICIO*/
  .form-fondo {
    padding-top: 20px;
    padding-bottom: 60px; }
  .form-register {
    width: 350px;
    padding: 20px;
    margin: auto;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 3px 9px 33px #000; }
  .form-register h4 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center; }
  .form-register h5 {
    font-size: 13px;
    margin-bottom: 20px;
    text-align: center; }
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 15px;
    line-height: 40px; }
  /*FORMULARIO MODS FIN*/
  /*VISTA NOSOTROS INICIO*/
  .nosotros img {
    height: auto;
    width: 420px;
    padding-left: 2%;
    padding-right: 2%; }
  .texto_nosotros {
    width: 420px;
    padding: 1%;
    text-align: center;
    align-items: center; }
  .nosotros_main {
    width: 425px;
    max-width: 95%;
    margin: 10px;
    display: flex;
    flex-direction: column; }
  .nosotros h1 {
    font-size: 2.5rem;
    text-align: center; }
  .nosotros h5 {
    font-size: 1.5rem;
    text-align: center; }
  .nosotros p {
    width: 425 px;
    text-align: center;
    margin-bottom: 30px;
    align-content: center; }
  /*VISTA NOSOTROS FIN*/
  /*VISTA CONTENIDO INICIO*/
  .contenidos {
    display: flex;
    flex-direction: column;
    width: 425px;
    padding: 70px 0px; }
  .titulo_contenidos h2 {
    width: fit-content;
    font-size: 2.5rem; }
  .contenedor_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px; }
  /*VISTA CONTENIDO FIN*/
  /*VISTA SOLUCIONES INICIO*/
  .soluciones {
    display: flex;
    flex-direction: column;
    width: 425px;
    padding: 70px 0px; }
  .titulo_soluciones h2 {
    width: fit-content;
    font-size: 1rem;
    margin-left: 10px;
    margin-right: 10px; }
  /*VISTA SOLUCIONES FIN*/
  /*MEDIA QUERY FINAL*/ }
