/**CODIGO PARA INICIAR SAAS: npm run watch-css**/
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box; }

/*INICIO MAIN*/
.body {
  width: 100%;
  background-color: #3F3A3A; }

.bodyindex_background {
  background-color: mediumblue;
  display: grid;
  place-items: center; }

.bodyIndex__headerhero {
  color: aliceblue;
  font-size: 2rem;
  font-family: calibri; }

.bodyindex__parrafo {
  color: aliceblue;
  font-size: 2rem;
  text-align: center;
  font-family: calibri; }

.bodyIndex__headerreel {
  background-color: #3F3A3A;
  color: aliceblue;
  font-size: 2rem;
  text-align: center;
  font-family: calibri; }

.bodyindex__boton {
  background-color: #ff5601;
  color: white;
  font-family: Calibri, sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  margin-bottom: 5px; }

/*FINAL MAIN*/
/*INICIO FOOTER*/
.footerindex__contenedor {
  width: 100%;
  height: fit-content;
  background-color: #3F3A3A; }

.footerindex {
  width: auto;
  height: fit-content; }

.footerindex__contenedorimagenes {
  display: flex;
  justify-content: space-around; }

.footerindex__parrafobajo {
  color: aliceblue;
  font-size: 2rem;
  text-align: center;
  font-family: calibri; }

.footerindex__torrevieja {
  max-width: 15%;
  max-height: 15%;
  aspect-ratio: 3/2;
  object-fit: contain; }

.footerIndex__lapetina {
  max-width: 15%;
  max-height: 15%;
  aspect-ratio: 3/2;
  object-fit: contain; }

.footerIndex__alpe {
  max-width: 15%;
  max-height: 15%;
  aspect-ratio: 3/2;
  object-fit: contain; }

.footerIndex__searaan {
  max-width: 15%;
  max-height: 15%;
  aspect-ratio: 3/2;
  object-fit: contain; }

.botones {
  background-image: radial-gradient(circle 767px at 10.2% 22.1%, #0b27da 0%, deepskyblue 90%);
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.botones {
  min-width: 700px;
  display: flex;
  justify-content: space-around; }

.botones a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all .4s ease-in-out; }

.botones a:hover {
  transform: scale(1.2); }

/*FINAL FOOTER*/
/*VISTA NOSOTROS INICIO*/
.nosotros {
  width: 100%;
  padding: 78px 0px;
  background-color: mediumblue; }

.nosotros img {
  height: auto;
  width: 420px; }

.nosotros_logo {
  height: auto;
  width: 420px; }

.texto_nosotros {
  width: 550px; }

.nosotros_main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.nosotros h1 {
  color: white;
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 20px; }

.nosotros h5 {
  color: white;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px; }

.nosotros p {
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 1rem;
  margin-bottom: 45px; }

/*VISTA NOSOTROS FIN*/
/*INICIO HEADER*/
.header {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  background-color: mediumblue;
  padding: 1rem; }

.header__logo {
  width: 12rem;
  padding: 1rem;
  justify-content: left;
  align-items: center; }

.header__barra_navegador {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-family: calibri; }

.textos__navegador {
  width: 45rem;
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: calibri; }

.header__textobarranavegador {
  color: aliceblue;
  font-size: x-large;
  padding: 1rem;
  text-decoration: none; }

.header__textobarranavegadoractivo {
  color: #ff5601;
  font-size: x-large;
  padding: 1rem; }

/*FINAL HEADER*/
/*ESTILOS FORMULARIO INICIO*/
.form-fondo {
  background-image: url(/img/fondo_cel.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 200px; }

.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000; }

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center; }

.form-register h5 {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center; }

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid hwb(221 12% 23%);
  font-family: 'calibri';
  font-size: 18px;
  color: white; }

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px; }

.form-register a {
  color: white;
  text-decoration: none; }

.form-register a:hover {
  color: white;
  text-decoration: underline; }

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px; }

/*ESTILOS FORMULARIO FIN*/
/*VISTA CONTENIDO INICIO*/
.contenidos {
  background: mediumblue;
  width: 100%;
  padding: 100px 0px; }

.titulo_contenidos h2 {
  color: white;
  font-size: 3rem;
  width: 1130px;
  margin: 30px auto;
  text-align: center; }

.contenedor_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px; }

.card {
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #24303c;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center; }

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #ff5601; }

.card h5 {
  color: white;
  font-size: 2rem;
  margin-bottom: 15px; }

.pra p {
  color: white;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px; }

.card .button_cards {
  background-color: #ff5601;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: 4s; }

.card .button_cards:hover {
  background-color: transparent;
  border: 2px solid #ff5601;
  cursor: pointer; }

/*VISTA CONTENIDO FIN*/
